<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uts">
        <activity android:name=".Latihan_6b"></activity>
        <activity android:name=".Latihan_5b" />
        <activity android:name=".Latihan_9" />
        <activity android:name=".Latihan_8" />
        <activity android:name=".Latihan_7" />
        <activity android:name=".Latihan_6a" />
        <activity android:name=".Latihan_5a" />
        <activity android:name=".Latihan_4" />
        <activity android:name=".Latihan_3" />
        <activity android:name=".Latihan_2" />
        <activity android:name=".Latihan_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>